.caption{
	text-align: center;
}
.caption h4{
	color: #08c;
}

.product-name{
	height: 33px;
}
.latest-product-name{
	height: 35px;
}
.writer{
    height: 20px;
    width: 100%;
}
.price{
	vertical-align: middle;
}

.thumbnail h4{
	line-height: 20px;
}
a {
    color: #08c;
    text-decoration: none;
}
#footerSection {
	background: #202020;
	color: white;
	padding: 28px 0 44px;
	margin-top: 20px;
	border-top: 1px solid #444;
}
#header{	;
	margin-bottom: 20px;
}

.container-header{
	background: #000;
	color: white;    
	font-size: 15px;
	height: 50px;
}
.wrap-box{
	background: url(../img/strip.png);
  	padding:2px; 
}
.account_desc{
	float: right;	
    padding: 15px 0;
}
.account_desc li {
    display: inline;
    border-left: 2px ridge #3D3B3B;
}
.account_desc li a{
	font-size: 120%;
    color: #9C9C9C;
    padding: 0 10px;
    font-family: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.account_desc li a:hover{
	color: #08c;
}
.account_desc ul{
	list-style: none;
    margin: 0;
    padding: 0;
}
.row-header{
	height: 50px;	
	margin-right: auto;
    margin-left: auto;
    width: 91%;
    margin-top: 20px;
    background: #08c;
    border-radius: 5px;
}

.col-sm-3{
	float:right;
	height: 40px;
}

.col-sm-3 input{
	margin-top: 10px;
}
.span3{
	font-size: 16px;
}
.navbar-inner{
	padding-left: 0px;
}
.form-inline{
	display: inline-block;
	width: 269px;
	margin-bottom: 20px;	
}
.input-search{
	float: left;
	width: 220px;
	height: 30px;
}
 .input-search input{
 	width: 100%;
 	height: 100%;
 }
.input-btn{
	float: right;
}
.span9{
	margin-left: 10px;
}
.panel-default{
	background-color: #f5f5f5;
}
.paginator{
	text-align: center;
}
.content-writer strong{
	margin-left: 20px;
}
.content-writer p{
	margin-left: 30px;
}
.content-book{
	margin-left: 20px;
}
.image-book{
	height: 175px;
	width: 175px;
	float: left;
}
.content-info{
	margin-left: 20px;
}
.panel-heading{
	border-color: #ddd;
}
.detail{
	width:850px;
	height: 175px;
}
.detail-child{
	width: 650px;
	height: 175px;
	float: right;
	margin-left: 20px;
}
.pricetotal{
	float: right;
	background: #ddd;
	margin-right: 30px;
}
.thumbnail p{
	text-align: center;
}
.table{
	width:840px;
	margin-left: 30px;
}
.cart_link{
	width: 870px;
	display: inline;
}
.panel .panel-success{
	margin-top: 10px;
}
.thumb {
    width: 280px;
    height: 150px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 
.inner-bg{
	background-color:#e8e8e8;
}
	/* Conatct start */

        .header-title
        {
          text-align: center;
          color: #0000ee;
        }

        #tip 
        {
            display:none;  
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {

        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus
        {
        	border:1px solid #00bfff;
        }

        .textarea-contact
        {
        	resize:none; 
        }

        .btn-send
        {
        	border-radius: 0px;
        	border:1px solid #0000ee;
        	background:#0000ee;
        	color:#fff; 
        }

        .btn-send:hover
        {
        	border:1px solid #00bfff;
        	background:#fff;
        	color:#00bfff;
        	transition:background 0.5s;   
        }

        .second-portion
        {
        	margin-top:50px; 
        }

		        /*@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";*/
		@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

		.box > .icon { text-align: center; position: relative; }
		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #0000ee; vertical-align: middle; }
		.box > .icon:hover > .image { background: #333; }
		.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
		.box > .icon:hover > .image > i { color: white !important; }
		.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
		.box .space { height: 30px; }

		@media only screen and (max-width: 768px)
		{
			.contact-form
			{
				margin-top:25px; 
			}

			.btn-send
			{
				width: 100%;
				padding:10px; 
			}

			.second-portion
			{
				margin-top:25px; 
			}
		}
	/* Conatct end */